*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    font-family: Inter;
}
.carrouselContainer {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    gap: 20px;
    background-color: #F5F5F5;
}

.textContainer {
    height: auto;
    width: 30vw; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
    align-items: flex-start;
}

.carrouselItem img {
    height: 47vh;
    width: 38vw;
    object-fit: cover; 
    border-radius: 8px; 
}

.brilhinho {
    position: absolute;
    top: 10%;
    right: 5%;
    max-width: 5vw; 
}

.text1 {
    color: #F6AA1C;
    font-size: 1.2rem; 
    font-weight: 700;
    font-family: Inter;
}

.text2 {
    color: #1F1F1F;
    width: 26vw; 
    font-weight: 800;
    font-size: 4rem;
    line-height: 1.2; 
    font-family: Inter;
}

.text3 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6; 
}

.offerButton {
    background-color: #2074c9;
    width: 10vw;
    height: 2.5vw;
    border-style: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.offerButton:hover {
    background-color: #2074c9; /* Efeito de hover mais sutil */
    transition: background-color 0.3s ease; /* Animação suave */
}

.textContainer .offerButton:active {
    background-color: #2074c9; /* Cor ao clicar */
}

/* Responsividade para telas maiores (desktop widescreen) */


/* Ajustes para telas médias (laptops menores) */
@media (max-width: 1024px) {
    .carrouselContainer {
        flex-wrap: wrap; /* Permite itens quebrarem linha */
        justify-content: space-around;
    }

    .text2 {
        font-size: 3.5rem; /* Texto menor */
    }

    .carrouselItem img {
        width: 50vw; /* Imagem maior para preencher a tela */
    }
}
