@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    font-family: "Open Sans", serif;
    padding: 0;
}
#batata{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    gap: 2vw;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #c7c7c9;
}
.batatinha{
    width: 20vw;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height:45vh;
    border-radius: 5px;
    background-color: white;
}

.batatinha img{
    width: 100%;
    height:14vh;
    border-radius: 5px 5px 0 0  ;
}
.category{
    margin-left: 0.5vw;
    font-size: 14px;
    color: gray;
    font-weight: bold;
}
.description{
    text-align: justify;
    color: rgb(55, 55, 55);
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 1vw;
    line-height: 3.5vh;
    
}

.price {
    color: black;
    font-size: 18px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-weight:bold ;

}
.texts{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content:space-between;
}
span{
    text-decoration: line-through;
    color: gray;
}
#footer{
    margin-top: 10vh;
}